@import url(header.css);
@import url(images.css);
@import url(jogada.css);

* {
  box-sizing: border-box;
}

:root {
  --font-principal: 'Roboto', sans-serif;
  --font-secundaria: 'Roboto mono', monospace;
  --cor-fundo-principal: #eee1cf;
  --cor-font-principal: #282323;
  --cor-font-secundaria: #FCFCFC;
}

body {
  font-family: var(--font-principal);
  background-color:var(--cor-fundo-principal);
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .8em;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}